# Web App & UI
streamlit

# Data Processing and Machine Learning
pandas
numpy
scikit-learn
imbalanced-learn
joblib
xgboost
catboost

# Explainable AI
lime

# GenAI & Utils
groq
google-genai
PyYAML
python-dotenv

# Visualization (Cho báo cáo)
matplotlib
seaborn

# System Utilities
openpyxl