# --- Frontend & Visualization ---
streamlit
matplotlib
seaborn

# --- Data Processing & Core Math ---
pandas
numpy

# --- Machine Learning & Imbalanced Data ---
scikit-learn
xgboost
imbalanced-learn
joblib

# --- Explainable AI (XAI) ---
shap
lime

# --- Config & Environment ---
PyYAML
python-dotenv

# --- LLM APIs (GenAI) ---
openai
groq
google-genai

# --- Jupyter & Interactive Development ---
ipykernel